
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --desaturated-red:hsl(0, 36%, 70%);
    --soft-red:hsl(0, 93%, 68%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-image:linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));   
}

header{
    display:/* none*/;
    padding:20px 35px;
}

.container {
    display:flex;
    justify-content: flex-end;
    align-items:center;
    min-height: 100vh;
    width:100%;
    flex-direction: column-reverse;
     text-align: center;
}

.container .left-side{
    width:100%;
    height: auto;
    padding : 50px 35px;  /*50px 30px 0 30px*/
}

.container .right-side{
    width: 100%;
    height: 300px;  /* if it wont fix will make it 250 */
    background-image: url(./images/hero-mobile.jpg) ;
    background-size: cover;
    background-position:center center ;  
}


.container .left-side span{
    color: var(--desaturated-red);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 3rem;
    line-height:5rem;  /*may remove */
}

.container .left-side h1{
    font-weight: 600; 
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    color: var(--desaturated-red);
    line-height: 25px;
    font-weight: 600;
    max-width:400px;
    padding: 20px 1px 0;
    font-size: 1rem;
    margin:20px 0 30px;
   
}

.container form {
    position: relative;   
    display: block;
    height: 50px;
    width:100%;
    margin: 0 auto;
}

.container form .input{
    position:absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;  /*maybe remove*/
   
   
    outline: none;       
    border: 1px solid;
    border-radius: 50px;
    padding-left:20px;
    color: var(--desaturated-red);
    text-transform: capitalize;
}

::placeholder{
    color: var(--desaturated-red);
    font-size: .9rem;
}
 .container form button{
     position: absolute;
     right:0;
     top:0;
     width:70px;
     height: 100%;
     border-radius: 50px;
     /*background-color: var(--soft-red);*/
     background-image: linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
     border:none ;
     box-shadow: 0px 0px 10px 1px var(--desaturated-red);
 }

 .container form button:hover{
     cursor: pointer;
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 55%, 78%));
    box-shadow:0px 10px 10px 1px var(--desaturated-red);
 }


.container form .error-icon{
    position: absolute;
    top: 13px;   /* mmm top 24% and right: 85px*/
    left: 260px;
    display: none;
}
.container form .error-message{
    position: absolute;
    top: 15px;     /*mmm left 30px & top 40px*/
    left:22px;
    font-weight: 400;  
    display: none;   
}


/*error class from JS */
.container form.error .error-icon{ 
    display: block;
}

.container form.error .error-message{
    display: block;
}

footer .attribution{
    width:250px;
    text-align: center;
   margin:25px auto;
}

/*media query*/
@media only screen and (min-width:788px) {
    
   header{
       position: absolute;
      padding-left: 10%;    /*70px*/
   }

   .container{
       flex-direction: row;
   }

   .container .right-side{
       background-image: url(./images/hero-desktop.jpg);
       height: 100vh;
       width:80%;
   }

   .container .left-side{
       height: 100vh;
       padding-top: 28vh;
       text-align: left;
       padding-left: 10%;
       background-image: url(./images/bg-pattern-desktop.svg);
       background-position: 20% bottom;
       background-size: cover;
       width:100%;
   }
    
   .container .left-side span{
       letter-spacing: 10px;
   }
   
   .container .left-side h1{
       letter-spacing: 10px;
   }
   
   .container form {
       
       width:380px;
      position: absolute;   
      
   }

   .container form button{
       width:80px;
   }

   
}

